{% extends 'base.html.twig' %}

 {% block meta %}
     {% include "@SuluWebsite/Extension/seo.html.twig" with {
         "seo": news.seo|default([]),
         "content": content|default([]),
         "localizations": localizations|default([]),
         "shadowBaseLocale": shadowBaseLocale|default(),
         "defaultLocale": app.request.locale
     } %}
 {% endblock %}



{% block content %}
    <div class="grid-cols-1grid gap-16 max-w-7xl mx-auto pb-16">
        {% if not news.isPublished %}
            <h1>{{ "alert.message"|trans }}</h1>
        {% endif %}

            <h1 class="text-2xl uppercase font-light text-gray-900 mb-8">{{ news.title }}</h1>

            {% if news.cover %}
                {% set cover = sulu_resolve_media(news.cover.id, app.request.locale) %}
                <img src="{{ cover.thumbnails['large'] }}" title="{{ cover.title }}" class="rounded-lg mb-8"/>
            {% endif %}


            {% include '@Block/html5-blocks.html.twig' with { collection: 'news', blocks: news.content} %}

    </div>
{% endblock %}